version: 2.1
orbs:
  heroku: circleci/heroku@1.2.6
  windows: circleci/windows@2.4.1
jobs:
  build:
    description: Build application with Release configuration
    executor:
      name: windows/default
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-packages-v1-{{ checksum "net-rest-api.csproj" }}
      - run:
          name: "Change to react directory"
          command: cd ClientApp
      - run:
          name: "Install npm dependency"
          command: npm install
      - run:
          name: "Change to react directory"
          command: cd ..
      - run:
          name: "Install project dependencies"
          command: dotnet.exe restore
      - run:
          name: "Build Application according to some given configuration"
          command: dotnet.exe publish
workflows:
  heroku_deploy:
    jobs:
      - heroku/deploy-via-git
